@font-face {
    font-family: "Acta Display Bold";
    src: url("../fonts/ActaDisplay-Black.otf");
}

@font-face {
    font-family: "Acta Display Black";
    src: url("../fonts/ActaDisplay-Black.otf");
}

@font-face {
    font-family: "Acta Deck Bold";
    src: url("../fonts/ActaDeck-Bold.otf");
}

@font-face {
    font-family: "UniversLTStd";
    src: url("../fonts/UniversLTStd.otf");
}

@font-face {
    font-family: "UniversLTStd-Black";
    src: url("../fonts/UniversLTStd-Black.otf");
}

@font-face {
    font-family: "UniversLTStd-XBlack";
    src: url("../fonts/UniversLTStd-XBlack.otf");
}

@font-face {
    font-family: "Windings";
    src: url("../fonts/Windings.ttf");
}

@font-face {
    font-family: "Everson Mono";
    src: url("../fonts/Everson Mono.ttf");
}

div.square {
    max-width: 15em;
    margin: 1em;
}

p.Heiti-greinar {
    color: #000000;
    font-family: "Acta Display Bold", serif;
    font-size: 5em;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.114;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
}

p.Hofundur {
    color: #000000;
    font-family: "UniversLTStd", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 950;
    text-align: left;
    text-decoration: none;
}

.title2 {
    margin-bottom: 2em;
}

img.Hofundur {
    width: 1em;
    margin-right: 1em;
    margin-left: 0px;
    margin-top: 0px;
}

p.Meginmal {
    color: #000000;
    font-family: "UniversLTStd", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.167;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
}

p.x-bein-tilvitnun {
    -epub-hyphens: none;
    -epub-ruby-position: over;
    color: #000000;
    font-family: "UniversLTStd", sans-serif;
    font-size: 18px;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.167;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
}

p.Millifyrirs-gn {
    -epub-ruby-position: over;
    color: #000000;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 950;
    line-height: 1.167;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
}

p.Pull-Quote {
    -epub-ruby-position: over;
    color: #000000;
    font-family: "Acta Deck Bold", serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 9px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
}

p.Nedanmalsgrein {
    
}

span.Footnote-reference {
    font-family: "UniversLTStd", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
}

span.footnote-reference--nedanmals-tolustafur {
    font-family: "UniversLTStd", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
}

span.Skaletur {
    font-style: oblique;
    font-weight: bold;
}

span.Skaletur-nedanmalsgreinar {
    font-style: oblique;
    font-weight: normal;
}

span.Feitletur {
    font-style: normal;
    font-weight: normal;
}

span.Bold {
    font-style: normal;
    font-weight: bold;
}

p.para-style-override-1 {
    -epub-hyphens: none;
    font-size: 72px;
    font-style: normal;
    font-weight: normal;
}

p.para-style-override-2 {
    font-style: normal;
    font-weight: normal;
}

p.para-style-override-3 {
    text-align: center;
}

p.para-style-override-4 {
    margin-left: 43px;
}

p.para-style-override-5 {
    text-align: right;
}

p.para-style-override-6 {
    font-family: "Acta Display Black", serif;
    font-style: normal;
    font-weight: normal;
}

p.para-style-override-7 {
    font-size: 25px;
    font-weight: bold;
}

p.para-style-override-8 {
    font-style: oblique;
    font-weight: normal;
}

p.para-style-override-9 {
    -epub-hyphens: none;
}

p.para-style-override-10 {
    font-size: 14px;
}

p.para-style-override-11 {
    font-style: normal;
    font-weight: bold;
}

p.para-style-override-12 {
    margin-left: 0px;
}

p.para-style-override-13 {
    font-size: 72px;
    font-style: normal;
    font-weight: normal;
}

p.para-style-override-14 {
    margin-right: 43px;
}

p.para-style-override-15 {
    -epub-hyphens: none;
    font-style: normal;
    font-weight: bold;
}

p.para-style-override-16 {
    break-after: column;
}

p.para-style-override-17 {
    margin-left: 20px;
}

span.char-style-override-1 {
    font-family: "UniversLTStd-XBlack";
}

span.char-style-override-2 {
    font-family: "UniversLTStd";
    font-weight: lighter;
}

span.char-style-override-3 {
    font-style: italic;
    font-weight: normal;
}

span.char-style-override-7 {
    font-family: "Everson Mono", serif;
    font-style: normal;
    font-weight: bold;
}

span.char-style-override-5 {}

span.char-style-override-6 {
    font-size: 18px;
}

span.char-style-override-7 {
    font-size: 18px;
    text-decoration: underline;
}

span.char-style-override-8 {
    font-style: oblique;
    font-weight: normal;
}

span.char-style-override-9 {
    font-style: normal;
    font-weight: bold;
}

span.char-style-override-10 {
    font-size: 7px;
    vertical-align: super;
}

span.char-style-override-11 {
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
}

span.char-style-override-12 {
    font-family: Wingdings, sans-serif;
    font-style: normal;
    font-weight: normal;
}

span.char-style-override-13 {
    font-style: oblique;
    font-weight: bold;
}

span.char-style-override-14 {
    color: #ee2624;
}

span.char-style-override-15 {
    font-size: 6px;
}

.square {
    display: none;
}

.image {
    display: table;
}

.caption {
    display: table-caption;
    caption-side: bottom;
}

.floatRight {
    float: right;
    margin: 1em;
}

.floatLeft {
    float: left;
    margin: 1em;
}

img.floatLeft,
div.floatLeft {
    margin-left: 0em;
}

img.floatRight,
div.floatRight {
    margin-right: 0em;
}

img.frame-1 {
    width: 40%;
    height: auto;
}

img.frame-5 {
    height: auto;
    width: 100%;
}

img.frame-6 {
    height: auto;
    width: 100%;
}

img.frame-7 {
    width: 50%;
    height: auto;
}

img.frame-8 {
    width: 100%;
    height: auto;
}

img.frame-9 {
    width: 100%;
    height: auto;
}

img.frame-10 {
    width: 60%;
    height: auto;
}

img.frame-11 {
    width: 80%;
    height: auto;
}

.frame-12 {
    width: 50%;
    height: auto;
}

img.frame-13 {
    width: 100%;
    height: auto;
}

img.frame-14 {
    width: 100%;
    height: auto;
}

img.frame-15 {
    width: 50%;
    height: auto;
}

img.frame-16 {
    width: 60%;
    height: auto;
}

.frame-17 {
    width: 30%;
    height: auto;
}

img.frame-18 {
    width: 100%;
    height: auto;
}

.frame-18 {
    width: 50%;
    height: auto;
}

img.frame-19 {
    width: 100%;
    height: auto;
}

.frame-19 {
    width: 100%;
    height: auto;
}

img.frame-20 {
    width: 50%;
    height: auto;
}

img.frame-21 {
    width: 50%;
    height: auto;
}

img.frame-22 {
    width: 100%;
    height: auto;
}

img.frame-23 {
    width: 100%;
    height: auto;
}

img.frame-24 {
    width: 100%;
    height: auto;
}

img.frame-25 {
    width: 50%;
    height: auto;
}

img.frame-26 {
    width: 50%;
    height: auto;
}

img.frame-27 {
    width: 50%;
    height: auto;
}

img.frame-28 {
    width: 50%;
    height: auto;
}

img.frame-29 {
    width: 50%;
    height: auto;
}

img.frame-30 {
    width: 100%;
    height: auto;
}