html {
    color: #0C090A;
}

.fp-section {
    height: auto !important;
}

.container {
    margin-top: 0px;
}

.section {
    background-color: #FFF;
}

.navbar-header p {
    margin: 0px;
    padding: 0px;
}

#header1 {
    font-family: "UniversLTStd-Black";
    font-size: 2em;
}

#header2 {
    font-family: "UniversLTStd";
    font-size: 1em;
}

.article {
    background-color: #FFF;
}

.article .container {
    padding-bottom: 7em;
    padding-top: 5em;
}

.article-icon {
    width: 4em;
    height: auto;
    float: right;
    margin: 1em;
    cursor: pointer;
}

.content-icon {
    width: 4em;
    height: auto;
    float: left;
    margin: 1em;
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -38px;
}
/* ------------------------------------------------------------------
Navbar
------------------------------------------------------------------- */

.navbar-custom {
    background-color: #FFF;
    border: 0;
    border-radius: 0;
    font-family: "Roboto Condensed", sans-serif;
    z-index: 1000;
    transition: all 0.5s ease;
    min-height: 4.2em;
}

.navbar-transparent {
    background-color: #FFFFFF;
    opacity: 0.98;
    -webkit-box-shadow: 0px -3px 17px 0px rgba(158, 158, 158, 0.62);
    -moz-box-shadow: 0px -3px 17px 0px rgba(158, 158, 158, 0.62);
    box-shadow: 0px -3px 17px 0px rgba(158, 158, 158, 0.62);
}

.navbar-custom .dropdown-menu {
    background: rgb(255, 255, 255);
    border-radius: 0;
    border: 0;
    padding: 0;
}

.navbar-custom .nav li > a {
    position: relative;
    color: #000;
}

.navbar-custom .dropdown-menu > li > a {
    border-bottom: 1px solid rgba(73, 71, 71, 0.3) !important;
    font-size: 11px;
    color: #999;
}

.navbar-custom .dropdown-menu .dropdown-menu {
    border-left: 1px solid rgba(73, 71, 71, 0.3);
    left: 100%;
    right: auto;
    top: 0;
    margin-top: 0;
}

.navbar-custom .dropdown-menu.left-side .dropdown-menu {
    border: 0;
    border-right: 1px solid rgba(73, 71, 71, 0.3);
    right: 100%;
    left: auto;
}

.navbar-custom .nav > li > a:focus,
.navbar-custom .nav > li > a:hover,
.navbar-custom .nav .open > a,
.navbar-custom .nav .open > a:focus,
.navbar-custom .nav .open > a:hover,
.navbar-custom .dropdown-menu > li > a:focus,
.navbar-custom .dropdown-menu > li > a:hover {
    background: none;
    color: #000;
    font-weight: bold;
}

.navbar-custom .dropdown-menu > li > a:hover {
    background: rgba(40, 40, 40, .1) !important;
}

.navbar-custom .dropdown-toggle:after {
    position: absolute;
    display: block;
    font: normal normal normal 14px/1 FontAwesome;
    right: 0;
    top: 50%;
    margin-top: -6px;
    font-size: 9px;
    content: "\f107";
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar-custom .navbar-toggle .icon-bar {
    background: #0C090A;
}
/* ------------------------------------------------------------------
Sections
------------------------------------------------------------------- */

.section {
    background-size: 100% 100%;
}

@media (min-width: 320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
    
    #section2 {
        background-image: url('../image/background/320/Layer 1.jpg');
    }
    #section3 {
        background-image: url('../image/background/320/Layer 2.jpg');
    }
    #section4 {
        background-image: url('../image/background/320/Layer 3.jpg');
    }
    #section5 {
        background-image: url('../image/background/320/Layer 4.jpg');
    }
    #section6 {
        background-image: url('../image/background/320/Layer 5.jpg');
    }
    #section7 {
        background-image: url('../image/background/320/Layer 6.jpg');
    }
    #section8 {
        background-image: url('../image/background/320/Layer 7.jpg');
    }
    #section9 {
        background-image: url('../image/background/320/Layer 8.jpg');
    }
    #section10 {
        background-image: url('../image/background/320/Layer 9.jpg');
    }
    #section11 {
        background-image: url('../image/background/320/Layer 10.jpg');
    }
    #section12 {
        background-image: url('../image/background/320/Layer 11.jpg');
    }
    #section13 {
        background-image: url('../image/background/320/Layer 12.jpg');
    }
    #section14 {
        background-image: url('../image/background/320/Layer 13.jpg');
    }
    #section15 {
        background-image: url('../image/background/320/Layer 14.jpg');
    }
    #section16 {
        background-image: url('../image/background/320/Layer 15.jpg');
    }
    #section17 {
        background-image: url('../image/background/320/Layer 16.jpg');
    }
    #section18 {
        background-image: url('../image/background/320/Layer 17.jpg');
    }
    #section19 {
        background-image: url('../image/background/320/Layer 18.jpg');
    }
    #section20 {
        background-image: url('../image/background/320/Layer 19.jpg');
    }
    #section21 {
        background-image: url('../image/background/320/Layer 20.jpg');
    }
    #section22 {
        background-image: url('../image/background/320/Layer 21.jpg');
    }
    #section23 {
        background-image: url('../image/background/320/Layer 22.jpg');
    }
    #section24 {
        background-image: url('../image/background/320/Layer 23.jpg');
    }
    #section25 {
        background-image: url('../image/background/320/Layer 24.jpg');
    }
}

@media (min-width: 481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    
    #section2 {
        background-image: url('../image/background/640/Layer 1.jpg');
    }
    #section3 {
        background-image: url('../image/background/640/Layer 2.jpg');
    }
    #section4 {
        background-image: url('../image/background/640/Layer 3.jpg');
    }
    #section5 {
        background-image: url('../image/background/640/Layer 4.jpg');
    }
    #section6 {
        background-image: url('../image/background/640/Layer 5.jpg');
    }
    #section7 {
        background-image: url('../image/background/640/Layer 6.jpg');
    }
    #section8 {
        background-image: url('../image/background/640/Layer 7.jpg');
    }
    #section9 {
        background-image: url('../image/background/640/Layer 8.jpg');
    }
    #section10 {
        background-image: url('../image/background/640/Layer 9.jpg');
    }
    #section11 {
        background-image: url('../image/background/640/Layer 10.jpg');
    }
    #section12 {
        background-image: url('../image/background/640/Layer 11.jpg');
    }
    #section13 {
        background-image: url('../image/background/640/Layer 12.jpg');
    }
    #section14 {
        background-image: url('../image/background/640/Layer 13.jpg');
    }
    #section15 {
        background-image: url('../image/background/640/Layer 14.jpg');
    }
    #section16 {
        background-image: url('../image/background/640/Layer 15.jpg');
    }
    #section17 {
        background-image: url('../image/background/640/Layer 16.jpg');
    }
    #section18 {
        background-image: url('../image/background/640/Layer 17.jpg');
    }
    #section19 {
        background-image: url('../image/background/640/Layer 18.jpg');
    }
    #section20 {
        background-image: url('../image/background/640/Layer 19.jpg');
    }
    #section21 {
        background-image: url('../image/background/640/Layer 20.jpg');
    }
    #section22 {
        background-image: url('../image/background/640/Layer 21.jpg');
    }
    #section23 {
        background-image: url('../image/background/640/Layer 22.jpg');
    }
    #section24 {
        background-image: url('../image/background/640/Layer 23.jpg');
    }
    #section25 {
        background-image: url('../image/background/640/Layer 24.jpg');
    }
}

@media (min-width: 641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    
    #section2 {
        background-image: url('../image/background/480/Layer 1.jpg');
    }
    #section3 {
        background-image: url('../image/background/480/Layer 2.jpg');
    }
    #section4 {
        background-image: url('../image/background/480/Layer 3.jpg');
    }
    #section5 {
        background-image: url('../image/background/480/Layer 4.jpg');
    }
    #section6 {
        background-image: url('../image/background/480/Layer 5.jpg');
    }
    #section7 {
        background-image: url('../image/background/480/Layer 6.jpg');
    }
    #section8 {
        background-image: url('../image/background/480/Layer 7.jpg');
    }
    #section9 {
        background-image: url('../image/background/480/Layer 8.jpg');
    }
    #section10 {
        background-image: url('../image/background/480/Layer 9.jpg');
    }
    #section11 {
        background-image: url('../image/background/480/Layer 10.jpg');
    }
    #section12 {
        background-image: url('../image/background/480/Layer 11.jpg');
    }
    #section13 {
        background-image: url('../image/background/480/Layer 12.jpg');
    }
    #section14 {
        background-image: url('../image/background/480/Layer 13.jpg');
    }
    #section15 {
        background-image: url('../image/background/480/Layer 14.jpg');
    }
    #section16 {
        background-image: url('../image/background/480/Layer 15.jpg');
    }
    #section17 {
        background-image: url('../image/background/480/Layer 16.jpg');
    }
    #section18 {
        background-image: url('../image/background/480/Layer 17.jpg');
    }
    #section19 {
        background-image: url('../image/background/480/Layer 18.jpg');
    }
    #section20 {
        background-image: url('../image/background/480/Layer 19.jpg');
    }
    #section21 {
        background-image: url('../image/background/480/Layer 20.jpg');
    }
    #section22 {
        background-image: url('../image/background/480/Layer 21.jpg');
    }
    #section23 {
        background-image: url('../image/background/480/Layer 22.jpg');
    }
    #section24 {
        background-image: url('../image/background/480/Layer 23.jpg');
    }
    #section25 {
        background-image: url('../image/background/480/Layer 24.jpg');
    }
}

@media (min-width: 961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    
    #section2 {
        background-image: url('../image/background/960/Layer 1.jpg');
    }
    #section3 {
        background-image: url('../image/background/960/Layer 2.jpg');
    }
    #section4 {
        background-image: url('../image/background/960/Layer 3.jpg');
    }
    #section5 {
        background-image: url('../image/background/960/Layer 4.jpg');
    }
    #section6 {
        background-image: url('../image/background/960/Layer 5.jpg');
    }
    #section7 {
        background-image: url('../image/background/960/Layer 6.jpg');
    }
    #section8 {
        background-image: url('../image/background/960/Layer 7.jpg');
    }
    #section9 {
        background-image: url('../image/background/960/Layer 8.jpg');
    }
    #section10 {
        background-image: url('../image/background/960/Layer 9.jpg');
    }
    #section11 {
        background-image: url('../image/background/960/Layer 10.jpg');
    }
    #section12 {
        background-image: url('../image/background/960/Layer 11.jpg');
    }
    #section13 {
        background-image: url('../image/background/960/Layer 12.jpg');
    }
    #section14 {
        background-image: url('../image/background/960/Layer 13.jpg');
    }
    #section15 {
        background-image: url('../image/background/960/Layer 14.jpg');
    }
    #section16 {
        background-image: url('../image/background/960/Layer 15.jpg');
    }
    #section17 {
        background-image: url('../image/background/960/Layer 16.jpg');
    }
    #section18 {
        background-image: url('../image/background/960/Layer 17.jpg');
    }
    #section19 {
        background-image: url('../image/background/960/Layer 18.jpg');
    }
    #section20 {
        background-image: url('../image/background/960/Layer 19.jpg');
    }
    #section21 {
        background-image: url('../image/background/960/Layer 20.jpg');
    }
    #section22 {
        background-image: url('../image/background/960/Layer 21.jpg');
    }
    #section23 {
        background-image: url('../image/background/960/Layer 22.jpg');
    }
    #section24 {
        background-image: url('../image/background/960/Layer 23.jpg');
    }
    #section25 {
        background-image: url('../image/background/960/Layer 24.jpg');
    }
}

@media (min-width: 1025px) {
    /* big landscape tablets, laptops, and desktops */
    
    #section2 {
        background-image: url('../image/background/1025/Layer 1.jpg');
    }
    #section3 {
        background-image: url('../image/background/1025/Layer 2.jpg');
    }
    #section4 {
        background-image: url('../image/background/1025/Layer 3.jpg');
    }
    #section5 {
        background-image: url('../image/background/1025/Layer 4.jpg');
    }
    #section6 {
        background-image: url('../image/background/1025/Layer 5.jpg');
    }
    #section7 {
        background-image: url('../image/background/1025/Layer 6.jpg');
    }
    #section8 {
        background-image: url('../image/background/1025/Layer 7.jpg');
    }
    #section9 {
        background-image: url('../image/background/1025/Layer 8.jpg');
    }
    #section10 {
        background-image: url('../image/background/1025/Layer 9.jpg');
    }
    #section11 {
        background-image: url('../image/background/1025/Layer 10.jpg');
    }
    #section12 {
        background-image: url('../image/background/1025/Layer 11.jpg');
    }
    #section13 {
        background-image: url('../image/background/1025/Layer 12.jpg');
    }
    #section14 {
        background-image: url('../image/background/1025/Layer 13.jpg');
    }
    #section15 {
        background-image: url('../image/background/1025/Layer 14.jpg');
    }
    #section16 {
        background-image: url('../image/background/1025/Layer 15.jpg');
    }
    #section17 {
        background-image: url('../image/background/1025/Layer 16.jpg');
    }
    #section18 {
        background-image: url('../image/background/1025/Layer 17.jpg');
    }
    #section19 {
        background-image: url('../image/background/1025/Layer 18.jpg');
    }
    #section20 {
        background-image: url('../image/background/1025/Layer 19.jpg');
    }
    #section21 {
        background-image: url('../image/background/1025/Layer 20.jpg');
    }
    #section22 {
        background-image: url('../image/background/1025/Layer 21.jpg');
    }
    #section23 {
        background-image: url('../image/background/1025/Layer 22.jpg');
    }
    #section24 {
        background-image: url('../image/background/1025/Layer 23.jpg');
    }
    #section25 {
        background-image: url('../image/background/1025/Layer 24.jpg');
    }
}

@media (min-width: 1281px) {
    /* hi-res laptops and desktops */
    
    #section2 {
        background-image: url('../image/background/1920/Layer 1.jpg');
    }
    #section3 {
        background-image: url('../image/background/1920/Layer 2.jpg');
    }
    #section4 {
        background-image: url('../image/background/1920/Layer 3.jpg');
    }
    #section5 {
        background-image: url('../image/background/1920/Layer 4.jpg');
    }
    #section6 {
        background-image: url('../image/background/1920/Layer 5.jpg');
    }
    #section7 {
        background-image: url('../image/background/1920/Layer 6.jpg');
    }
    #section8 {
        background-image: url('../image/background/1920/Layer 7.jpg');
    }
    #section9 {
        background-image: url('../image/background/1920/Layer 8.jpg');
    }
    #section10 {
        background-image: url('../image/background/1920/Layer 9.jpg');
    }
    #section11 {
        background-image: url('../image/background/1920/Layer 10.jpg');
    }
    #section12 {
        background-image: url('../image/background/1920/Layer 11.jpg');
    }
    #section13 {
        background-image: url('../image/background/1920/Layer 12.jpg');
    }
    #section14 {
        background-image: url('../image/background/1920/Layer 13.jpg');
    }
    #section15 {
        background-image: url('../image/background/1920/Layer 14.jpg');
    }
    #section16 {
        background-image: url('../image/background/1920/Layer 15.jpg');
    }
    #section17 {
        background-image: url('../image/background/1920/Layer 16.jpg');
    }
    #section18 {
        background-image: url('../image/background/1920/Layer 17.jpg');
    }
    #section19 {
        background-image: url('../image/background/1920/Layer 18.jpg');
    }
    #section20 {
        background-image: url('../image/background/1920/Layer 19.jpg');
    }
    #section21 {
        background-image: url('../image/background/1920/Layer 20.jpg');
    }
    #section22 {
        background-image: url('../image/background/1920/Layer 21.jpg');
    }
    #section23 {
        background-image: url('../image/background/1920/Layer 22.jpg');
    }
    #section24 {
        background-image: url('../image/background/1920/Layer 23.jpg');
    }
    #section25 {
        background-image: url('../image/background/1920/Layer 24.jpg');
    }
}
